.canvas {
  display: block;
  margin: auto;
}

.button {
  position: absolute;
}

.button-container {
  position: relative;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}